extends manager-layout.pug

block content
  .pagetitle
    h1 Invoice
    nav
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/all-credit-sales') Credit Sales List
        li.breadcrumb-item
          a(href="/view-credit-sale/"+creditSale._id) Credit Sales Details
        li.breadcrumb-item.active Invoice
  .receipt-container
    .d-flex.justify-content-between.align-items-center
      .rec-logo
        a(href='dashboard.html')
          img(src='/img/logo.png' alt='logo')
      div
        span.badge INVOICE
    .receipt-body.d-flex.justify-content-between
      .receipt-body-content
        h5 Customer Details
        span 
          strong Name:
        span= creditSale.buyerName 
        br
        span 
          strong Email:
        span= creditSale.buyerEmail
        br
        span 
          strong Phone:
        span= creditSale.buyerPhone
        br
        span 
          strong NIN:
        span= creditSale.buyerNIN
        br
        span 
          strong Location:
        span= creditSale.buyerLocation
      .receipt-body-content
        h5 Sale Details
        span
          strong Sale Id:
        span= creditSale._id 
        br
        span
          strong Date of Dispatch:
        span= moment(creditSale.dispatchDate).format('YYYY-MM-DD (h:mm A)')
        br
        span
          strong Due Date:
        span= moment(creditSale.dueDate).format('YYYY-MM-DD (h:mm A)')
        br
        span
          strong Payment Method:
        span Credit
        br
        span
          strong Dispatch Branch:
        span= creditSale.dispatchBranch 
    table.receipt-table
      thead
        tr
          th Item
          th QTY (Kg)
          th Cost (USh)
          th.text-end Total (USh)
      tbody
        tr
          td= `${creditSale.produceName} (${creditSale.produceType })`
          td= creditSale.tonnageDispatched
          td= new Intl.NumberFormat('en-UG', { style: 'currency', currency: 'UGX', minimumFractionDigits: 0 }).format(creditSale.amountDue)
          td.text-end= new Intl.NumberFormat('en-UG', { style: 'currency', currency: 'UGX', minimumFractionDigits: 0 }).format(creditSale.tonnageDispatched * creditSale.amountDue)
      tfoot
        tr
          td.text-end(colspan='3')
            strong  TOTAL AMOUNT DUE (USh):
          td.text-end
            strong= new Intl.NumberFormat('en-UG', { style: 'currency', currency: 'UGX', minimumFractionDigits: 0 }).format(creditSale.tonnageDispatched * creditSale.amountDue)
    .receipt-footer
      p Thank you for your purchase!
      .receipt-brand
        h2 Happy Hoe Grocery Ltd.
        p The best wholesale produce distributor dealing in cereals like; beans, grain maize, cowpeas, g-nuts, rice and soybeans.
        span
          i.bi.bi-telephone
          |  0780169873
        span
          i.bi.bi-envelope
          |  happyhoegroceriesltd@gmail.com
    .btn-print
      button.button(onclick='window.print()') 
        i.bi.bi-printer
        |  Print Receipt
