extends manager-layout.pug

block scripts
  script(src='/js/modal.js')

block content
  .pagetitle
    h1 Produce Details
    nav
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/dashboard') Dashboard
        li.breadcrumb-item
          a(href='/all-stock') Stock List
        li.breadcrumb-item.active Produce Details
  .card.stock-card
    .mb-2
      h4
        strong Revenue Projections
    .stock-card-header
      .stock-header.error
        h3
          strong= new Intl.NumberFormat('en-UG', { style: 'currency', currency: 'UGX', minimumFractionDigits: 0 }).format(produce.tonnage * produce.produceCost)
        p Total Cost
      .stock-header.warning
        h3
          strong= new Intl.NumberFormat('en-UG', { style: 'currency', currency: 'UGX', minimumFractionDigits: 0 }).format(produce.tonnage * produce.sellingPrice)
        p Expected Income
      .stock-header.success
        h3
          strong= new Intl.NumberFormat('en-UG', { style: 'currency', currency: 'UGX', minimumFractionDigits: 0 }).format((produce.tonnage * produce.sellingPrice) - (produce.tonnage * produce.produceCost))
        p Expected Profit
    .stock-card-body
      .mb-2
        h4
          strong Produce Info
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Name:
        .col-lg-9
          span= produce.produceName
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Type:
        .col-lg-9
          span= produce.produceType
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Tonnage (Kg):
        .col-lg-9
          span= produce.tonnage
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Cost / Kg (USh):
        .col-lg-9
          span= produce.produceCost
      .row.mb-4.stock-info
        .col-lg-3
          span
            strong Selling Price / Kg (USh):
        .col-lg-9
          span= produce.sellingPrice

    .stock-card-body
      .mb-2.mt-4
        h4
          strong Storage Info
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Storage Branch:
        .col-lg-9
          span= `${produce.storagebranch} branch`
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Added by:
        .col-lg-9
          span= produce.addedBy
      .row.mb-4.stock-info
        .col-lg-3
          span
            strong Last Updated:
        .col-lg-9
          span= moment(produce.dateAdded).format('YYYY-MM-DD (h:mm A)')
    .stock-card-body
      .mb-2.mt-4
        h4
          strong Dealer / Supplier Details
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Name:
        .col-lg-9
          span= produce.dealerName
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Email:
        .col-lg-9
          span.email= produce.dealerEmail
      .row.mb-4.stock-info
        .col-lg-3
          span
            strong Phone:
        .col-lg-9
          span= produce.dealerPhone
    .row.mb-2.mt-4
      .col-lg-3
        span
          strong Actions:
      .col-lg-9.actions
        a(class="action-btn edit-btn" href="/update-stock/"+produce._id)
          i.bi.bi-pen
          |  Edit
        div
          form(method="POST" action="/delete-stock")
            input(type="hidden" name="id" value=produce._id)
            button(class="action-btn del-btn" type="button")
              i.bi.bi-trash
              |  Delete

  .modal#deleteModal
    .modal-dialog
      .modal-content
        .mdl-body
          h5 Confirm Deletion!
          p Are you sure you want to delete this produce?
        .mdl-footer
          button(type='button' class='action-btn view-btn' id='cancelDelete') Cancel
          button(type='button' class='action-btn del-btn' id='confirmDelete') Delete

