extends admin-layout.pug

block content
  .pagetitle
    h1 Sales Details
    nav
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/dashboard') Dashboard
        li.breadcrumb-item
          a(href='/all-sales') Stock List
        li.breadcrumb-item.active Sales Details
  .card.stock-card
    .stock-card-header.row
      .mb-2
        h4
          strong Revenue Projections
      .col-lg-4.col-md-4.p-2.stock-header
        h3.error
          strong= new Intl.NumberFormat('en-UG', { style: 'currency', currency: 'UGX', minimumFractionDigits: 0 }).format(produce.tonnage * produce.produceCost)
        p.error Total Cost
      .col-lg-4.col-md-4.p-2.stock-header
        h3
          strong= new Intl.NumberFormat('en-UG', { style: 'currency', currency: 'UGX', minimumFractionDigits: 0 }).format(produce.tonnage * produce.sellingPrice)
        p Total Income
      .col-lg-4.col-md-4.p-2.stock-header
        h3.success
          strong= new Intl.NumberFormat('en-UG', { style: 'currency', currency: 'UGX', minimumFractionDigits: 0 }).format((produce.tonnage * produce.sellingPrice) - (produce.tonnage * produce.produceCost))
        p.success Total Profit

    .stock-card-body
      .mb-2
        h4
          strong Produce Info
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Name:
        .col-lg-9
          span= produce.produceName
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Type:
        .col-lg-9
          span= produce.produceType
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Tonnage (Kg):
        .col-lg-9
          span= produce.tonnage
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Cost / Kg (USh):
        .col-lg-9
          span= produce.produceCost
      .row.mb-4.stock-info
        .col-lg-3
          span
            strong Selling Price / Kg (USh):
        .col-lg-9
          span= produce.sellingPrice

    .stock-card-body
      .mb-2.mt-4
        h4
          strong Storage Info
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Storage Branch:
        .col-lg-9
          span= produce.storagebranch
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Added by:
        .col-lg-9
          span= produce.addedBy
      .row.mb-4.stock-info
        .col-lg-3
          span
            strong Last Updated:
        .col-lg-9
          span= moment(produce.dateAdded).format('YYYY-MM-DD (h:mm A)')
    .stock-card-body
      .mb-2.mt-4
        h4
          strong Dealer / Supplier Details
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Name:
        .col-lg-9
          span= produce.dealerName
      .row.mb-2.stock-info
        .col-lg-3
          span
            strong Email:
        .col-lg-9
          span= produce.dealerEmail
      .row.mb-4.stock-info
        .col-lg-3
          span
            strong Phone:
        .col-lg-9
          span= produce.dealerPhone

