extends admin-layout.pug

block scripts
  script(src='/js/form-validations/user.js')
  
block content
  .pagetitle
    h1 Edit User Info
    nav
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/dashboard') Dashboard
        li.breadcrumb-item
          a(href='/all-users') Users List
        li.breadcrumb-item.active Edit User
  .card
    form(action=`/update-user?id=${user._id}` enctype="multipart/form-data" method="POST")
      .row
        .col-md-6
          .mb-2
            label(for='userName') Full Name:
            input#userName(name='userName' type='text' placeholder='Enter User Name' value=user.userName)
          .mb-2
            label(for='email') Email (Read Only):
            input#email(name='email' type='email' placeholder='Enter Email Address' value=user.email readonly)
          .mb-2
            label(for='phoneNumber') Phone Number:
            input#phoneNumber(name='phoneNumber' type='text' placeholder='Phone Number' value=user.phoneNumber)
          .mb-2
            label(for='role') Role:
            select#role(name='role')
              option(value="") Assign Role
              option(value='administrator' selected=user.role === 'administrator') administrator
              option(value='manager' selected=user.role === 'manager') manager
              option(value='sales-agent' selected=user.role === 'sales-agent') sales agent
          .mb-2
            label(for='branch') Branch:
            if branches.length
              select#branch(name='branch')
                option(selected value="") Allocate Branch
                each branch in branches
                  option(value=branch.branchName) #{branch.branchName}
        .col-md-6
          .mb-2
            label(for='dateAdded') Date Updated (Read Only):
            input#dateAdded(name='dateAdded' type='datetime-local' value=(new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().slice(0,16)))
          .mb-2
            label(for='profileImage') Profile Image (Optional):
            .image-preview.profile-img.mt-2.d-flex.align-items-center
              img#profileImagePreview(src=user.profileImage alt='Profile Image' width='45px' height='45px')
              input#profileImage.form-control.image-upload(type='file' name='profileImage' accept='image/*')
          .mb-2
            label(for='bio') Bio (Optional):
            textarea#bio(name='bio' rows='5' placeholder='Enter User Biography')= user.bio
          .submit-button
            p.invalidation-message 
            button.button(type='submit') Save Changes
